* {

  padding: 0;

  margin: 0;

}



#t1 {



  width: 100%;

  font-size: 50px;

  border-collapse: collapse;
}



th {

  padding: 5px;
}

td {



  padding: 10px;

  text-align: center;

}



#t1,
th,
td {

  border: 4px solid lightgray;

  height: 100px;



}



#t1 tr:nth-child(even) {

  background-color: lightgray;

}